.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 12px 24px;
  
  color: white;
  
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-links a,
.logout-btn {
  margin-left: 16px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
}

.logout-btn:hover,
.navbar-links a:hover {
  text-decoration: underline;
}


body, html {
  margin: 0;
  padding: 0;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.dashboard-layout {
  margin-top: 56px; /* adjust to navbar height */
}
